.tournamentItem__container {
    display: flex;
    width: 100%;
    height: 260px;
    flex-direction: row;
    background-color: #1B1C1E;
    margin-bottom: 20px;
}

.tournamentItem__content {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 60%;
}

.tournamentItem__date__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tournamentItem__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
}

.tournamentItem__date__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.tournament__date__day {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    margin-right: 6px;
}

.tournament__date__details {
    display: flex;
    flex-direction: column;
}

.tournament__date__details p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #FFF;
    font-weight: 700;
}

.tournamentTitle {
    font-weight: bold;
    font-size: 26px;
    color: #00F2D9;
}

.tournamentItem__image {
    width: 40%;
    height: 100%;
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
