.home__container {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.home__header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__title {
    color: #FFF;
    font-weight: 'bold';
}

.home__tournaments__list {
    padding: 0 20px;
    width: 70%;
    max-width: 700px;
}

@media only screen and (max-width: 768px) {
    .home__tournaments__list {
        padding: 0 20px;
        width: 100%;
        max-width: 700px;
        box-sizing: border-box;
    }
}